extends layout

block content
    a#menu-toggle.btn.btn-dark.btn-lg(href='#') Home

    header#top.header
      .text-vertical-center
        h1 knitr
        h3 An app that searches your yarn stash for you.
        br
        a.btn.btn-dark.btn-lg(href='#search') Search Yarns
    section#search.search-style
      .row
        .col-xs-12.col-md-4.rounded-background.text-padding.border
          h3 Yarn Stash
          button.btn.btn-default.navbar-btn.yarn-form-button(type='submit') Add a new yarn to your stash
          .yarn-form-container
            form.yarn-form(action="/yarns" method="post")
              .form-group
                input#yards.form-control(name="yards", type='text', placeholder='Yards')
              .form-group
                input#color.form-control(name="color", type='text', placeholder='Color')
              .form-group
                label Link an image file
                input#yarnPic.form-control(type='text', placeholder='Link to Image')
                p.help-block Link to a snapshot of your yarn here.
              button.btn.btn-primary(type='submit') Add this yarn!
          #stash-container.stash-container.mini-padding
        .col-xs-12.col-md-4.rounded-background.text-padding.border
          h3 Projects
          button.btn.btn-default.navbar-btn.project-form-button(type='submit') Add a new project to your queue
          .project-form-container
            form.project-form(action="/projects" method="post")
              .form-group
                input#p-name.form-control(name="name", type='text', placeholder='Project Name')
              .form-group
                input#p-yards.form-control(name="yards", type='text', placeholder='Yards Required')
              .form-group
                label Link an image file
                input#projectPic.form-control(type='text', placeholder='Link to Image')
                p.help-block Link to the path of your project here.
              button.submit-project.btn.btn-primary(type='submit') Add this project!
          .projects-container.mini-padding
        .col-xs-12.col-md-4.rounded-background.text-padding.border.bottom-margin
          h3 Search Results:
          button.clear.btn.btn-default.navbar-btn(type='submit') Clear Results
          .search-container.mini-padding
    .col-xs-offset-5.col-xs-12.mini-padding.darkgray.footer
      h4 © Lauren Shugrue 2015